{% load static %}
<!DOCTYPE html>
<html lang="en-GB">

     {% include "header.html" %}

     <!-- About Section -->
     <section>
          <div class="container">
               <div class="row">

                    <div style="margin-top: 80px;" class="col-md-7 col-sm-7">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Not Just A Business But A Family</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>G6 Surgery has got one simple goal. To improve your life. </p>
                                   <p>Thanks to our highly skilled team we will be able to listen, understand and fix any problem that you are facing.</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-5 col-sm-5">
                         <div style="position: relative; height: 100%; width: 100%;">
                              <img style="width: 70%; height:auto" src="{% static 'g6/img/homepage/about-image.png' %}">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>

     <!-- Team Section -->
     <section id="team" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    {% for item in doctors %}
                         <div class="col-md-4 col-sm-6">
                              <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                                   <div class="team-info">
                                        <h3>{{item.user.first_name}} {{item.user.last_name}}</h3>
                                        <p>{{item.department}}</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">{{item.user.email}}</a></p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    {% endfor %}
               </div>
          </div>
     </section> 

     {% include "footer.html" %}

</body>
</html>