{% load static %}
<!DOCTYPE html>
<html lang="en-GB">

     {% include "header.html" %}

     <!-- Appointment Section -->
     <section id="none">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <section id="appointment" data-stellar-background-ratio="3">

                         <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                              <h2>Arrange an appointment</h2>
                              <p>We can't wait to see you face to face </p>
                         </div>
                         {% if messages %}
                              {% for message in messages %}
                              <div class="alert alert-success" role="alert">
                                   <p>{{message}}</p>
                              </div>
                              {% endfor %}
                         {% endif %}
                         <form id="appointment-form" role="form" method="post" action="#">
                              {% csrf_token %}
                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Doctor Availability</label>
                                        <select name="availability" class="form-control">
                                             {% for item in all %}
                                                  {% if item.full == False %}
                                                       <option value="{{item.id}}">with Dr. {{item.doctor.user.first_name}} {{item.doctor.user.last_name}} on {{item.date}} at {{item.time}}</option>
                                                  {% endif %}
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="Message">Comment</label>
                                        <textarea class="form-control" rows="2" id="message" name="comment" placeholder="Comment"></textarea>
                                   </div>
                                   <div class="col-md-6 col-sm-6">
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">Make Appoinment</button>
                                   </div>
                              </div>
                         </form>
                    </section>
                    </div>
               </div>
          </div>
     </section>

     {% include "footer.html" %}

</body>
</html>