{% load static %}
<!DOCTYPE html>
<html lang="en-GB">

     {% include "header.html" %}

     <!-- About Section -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome To G6 Surgery Centre</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>G6 Surgery has got one simple goal. To improve your life. </p>
                                   <p>Thanks to our highly skilled team we will be able to listen, understand and fix any problem that you are facing.</p>
                                   <button class="about-button"><a href="appointment">Make Appointment</a></button>
                                   <button class="about-button"><a href="report">Make Report</a></button>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- Service Section -->
     <section id="team" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Services</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-6">
                         <img src="{% static 'g6/img/homepage/brain.png' %}" style="color: red;">
                         <h3>Mental Health</h3>
                         <p>Thanks to our experienced mental health team we will guide you through the toughest times you are having </p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <img src="{% static 'g6/img/homepage/physio.png' %}" style="color: red;">
                         <h3>Physiotherapy</h3>
                         <p>Our professional team will help prevent and relieve any physical struggles, getting you back stronger than ever</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <img src="{% static 'g6/img/homepage/cosmetic.png' %}" style="color: red;">
                         <h3>Cosmetic Surgery</h3>
                         <p>With our highly trained team of cosmetic surgeons we will help you feel as beautiful as you deserve to be</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <img src="{% static 'g6/img/homepage/dental.png' %}" style="color: red;">
                         <h3>Dental Care</h3>
                         <p>Your smile deserves to be the best it can be. Our experienced dental team will help you your true smile</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <img src="{% static 'g6/img/homepage/health.png' %}" style="color: red;">
                         <h3>General Health</h3>
                         <p>Your issues do not have to be a specific one. No matter what you are going through we can always help</p>
                    </div>

                    
                    
               </div>
          </div>
     </section>

     {% include "footer.html" %}

</body>
</html>