{% load static %}
<!DOCTYPE html>
<html lang="en-GB">

     {% include "header.html" %}

     <!-- Profile Section -->
     <section id="team">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div id="left-side-profile" class="col-md-3">
                              <div id="my-details-button" class="profile-options-buttons appointment-btn"><h5>My Details</h5></div>
                              <div id="my-appointment-button" class="profile-options-buttons appointment-btn"><h5>My Appointments</h5></div>
                              <div id="my-reports" class="profile-options-buttons appointment-btn"><h5>My Reports</h5></div>
                         </div>
                         <div id="right-side-profile" class="col-md-9">
                              <div id="appointment-section">
                                   <h4>Your Appoinments</h4>
                                   {% for item in appointments %}
                                        <div class="row">
                                             <div style="padding-left: 10px; border-bottom: 1px solid lightgray; border-top: 1px solid lightgray; height: 50px; ">
                                                  <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-3"><p>Dr. {{item.appointment_details.doctor.user.first_name}} {{item.appointment_details.doctor.user.last_name}}</p></div>
                                                  <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-3"><p>{{item.appointment_details.date}}</p></div>
                                                  <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-2"><p>{{item.appointment_details.time}}</p></div>
                                                  <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-2">
                                                       <button>Cancel</button>
                                                  </div>
                                                  <div style="display:grid; justify-content:center; align-items: center; height: 100%;" class="col-md-2">
                                                       <button>Edit</button>
                                                  </div>
                                             </div>
                                        </div>
                                   {% endfor %}
                              </div>
                              <div id="report-section">
                                   <h4>Your Reports</h4>
                                   <div class="row">
                                        <div style="padding-left: 10px; border-bottom: 1px solid lightgray; border-top: 1px solid lightgray; height: 50px; ">
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-3"><p>Doctor James Hall</p></div>
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-3"><p>12 October 2022</p></div>
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-2"><p>2:30PM</p></div>
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-2">
                                                  <button>Cancel</button>
                                             </div>
                                             <div style="display:grid; justify-content:center; align-items: center; height: 100%;" class="col-md-2">
                                                  <button>Edit</button>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div id="details-section">
                                   <h4>Your Details</h4>
                                   <div class="row">
                                        <div style="padding-left: 10px; border-bottom: 1px solid lightgray; border-top: 1px solid lightgray; height: 50px; ">
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-3"><p>{{user.first_name}} {{user.last_name}}</p></div>
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-3"><p>{{patient.date_of_birth}}</p></div>
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-4"><p>{{user.email}}</p></div>
                                             <div style="display:grid; justify-content:center; align-items: center; border-right: 1px solid lightgray; height: 100%;" class="col-md-2"><p>{{patient.personal_doctor.user.first_name}} {{patient.personal_doctor.user.last_name}}</p></div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     {% include "footer.html" %}

</body>
</html>